[submodule "module/Hebis"]
	path = module/Hebis
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/vufind-module-hebis.git
[submodule "themes/hebisbs3"]
	path = themes/hebisbs3
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/hebisbs3.git
[submodule "themes/judaica"]
	path = themes/judaica
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/theme-judaica.git
[submodule "themes/ubffm"]
	path = themes/ubffm
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/theme-ubffm.git
[submodule "local-ubffm"]
	path = local-ubffm
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/local-ubffm.git
[submodule "local-judaica"]
	path = local-judaica
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/local-judaica.git
[submodule "themes/ubgi"]
	path = themes/ubgi
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/theme-ubgi.git
[submodule "local-ubgi"]
	path = local-ubgi
	url = git@arkantos.hebis.uni-frankfurt.de:/opt/hebis/git/local-ubgi.git
